body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative; /* Ensure position relative */
  z-index: 1; /* Ensure the content is above particles */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles are behind other content */
}

.title {
    text-align: center;
    margin-top: 20px;
    z-index: 2; /* Ensure the title appears above the particles */
    color: white; /* Make the title visible on the background */
}

#uv-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#uv-address {
  width: calc(100% - 24px);
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 16px;
  outline: none;
}

#uv-address::placeholder {
  color: #fff;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #148f77;
}
